{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Usuario</title>
</head>
<body>
    {% block content %}
        <h1>Actualizar Usuario</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="nombre_usuario">Nombre de Usuario:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" value="{{ usuario.nombre }}">
            <button type="submit">Guardar Cambios</button>
        </form>
        <a href="{% url 'user_detail' user_id=usuario.id %}">Cancelar</a>
    {% endblock %}
</body>
</html>