{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <h1>Mi Sitio Web</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <!-- Contenido específico de la página -->
        {% endblock %}
    </main>
</header>