{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    {% block content %}
    <a href="{% url 'signin' %}">Iniciar sesión</a></p>
        {% if mensaje %}
            <h1>{{ mensaje }}</h1>
        {% endif %}
        <h1>Hola mundo</h1>
        <img src="{% static 'img/captura.png' %}" alt="Mi imagen">

        <form method="POST">
            {% csrf_token %}
            <label for="nombre_usuario">Ingrese el nombre de usuario</label>
            <input type="text" name="nombre_usuario" id="nombre_usuario">
            <button type="submit">Registrarse</button>
        </form> 
    {% endblock %}
</body>
</html>