{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    {% block content %}
        {% if mensaje %}
            <h1>{{ mensaje }}</h1>
        {% endif %}
        <h1>Sign In</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="nombre_usuario">Ingrese su nombre de usuario</label>
            <input type="text" name="nombre" id="nombre_usuario">
            <button type="submit">Comprobar</button>
        </form>
        
        {% if usuarios %}
            <h2>Usuarios encontrados:</h2>
            <ul>
                {% for usuario in usuarios %}
                    <li><a href="{% url 'user_detail' user_id=usuario.id %}">{{ usuario.nombre }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        
    {% endblock %}
</body>
</html>